.feedback__form-wrapper(id="feedback-popup")
  form.feedback__form(id="feedback" action="#")
    h2.feedback__form-title Форма обратной связи
    p.feedback__form-text * Обязательные поля для заполнения
    .feedback__flex
      input.feedback__input(type="text", name="", placeholder="Имя*")
      input.feedback__input(type="tel", name="", placeholder="Телефон*")
      button.btn.btn--main.feedback__btn(type="submit") Отправить заявку
    p.feedback__form-text Нажимая на кнопку, Вы соглашаетесь с Политикой конфиденциальности
  //- .feedback__success
  //-   p.feedback__success-text Ваша заявка успешно отправлена!