footer.footer
  .footer__main
    .container
      .footer__logo
        img(src="@img/logo-footer.png", alt="Логотип компании", width="147", height="52")
        p.footer__name ООО «ТВЕРЬ ПОЛИМЕР СЕРВИС»
        p.footer__data ИНН 4857589385
        p.footer__data ОГРН 58394985
      .footer__nav
        h3.footer__title Навигация по сайту
        ul.footer__nav-list
          li.footer__nav-item
            a(href="#") О компании
          li.footer__nav-item
            a(href="#") Статьи
          li.footer__nav-item
            a(href="#") Контакты
          li.footer__nav-item
            a(href="#") Бренды
          li.footer__nav-item
            a(href="#") Оборудование
          li.footer__nav-item
            a(href="#") Сферы применения
      .footer__nav
        h3.footer__title.dropdown-footer Услуги
        ul.footer__nav-list
          li.footer__nav-item
            a(href="#") Полимеры
            button.dropdown-footer__btn.js-dropdown-btn
            ul.dropdown-footer__menu.js-dropdown-content
              li
                a(href="#") Ссылка 1
              li
                a(href="#") Ссылка 2
          li.footer__nav-item
            a(href="#") Заготовки
          li.footer__nav-item
            a(href="#") Изделия
          li.footer__nav-item
            a(href="#") Сервис
      .footer__contacts-list
        h3.footer__title Контакты
        ul.footer__nav-list
          li.footer__nav-item
            a(href="tel:+7 800 750 05 50") 8 800 750 05 50 
          li.footer__nav-item
            a(href="mailto:offis@famarket.ru") offis@famarket.ru
          li.footer__nav-item
            span 141000, Р.Ф. г. Мытищи, Осташковское шоссе, владение 14
          li.footer__nav-item
            p.footer__working Пн-пт с 9:00 до 18:00 Сб-вс выходной
      ul.footer__left
        li.footer__left-item.footer__socials
          a(href="", rel="nofollow", target="_blank") 
            <svg width="27" height="18" viewBox="0 0 27 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M25.924 2.77366C25.7734 2.24159 25.4791 1.75636 25.0704 1.36627C24.6617 0.976176 24.1528 0.69482 23.5944 0.550206C21.5238 0.00882253 13.2403 9.56425e-06 13.2403 9.56425e-06C13.2403 9.56425e-06 4.95819 -0.00880392 2.88633 0.508658C2.32827 0.659927 1.82041 0.945262 1.41152 1.33727C1.00263 1.72928 0.706425 2.2148 0.551353 2.74722C0.00529091 4.71886 1.93719e-06 8.8082 1.93719e-06 8.8082C1.93719e-06 8.8082 -0.00528677 12.9177 0.536808 14.8692C0.84091 15.9482 1.73338 16.8005 2.86782 17.0914C4.95951 17.6328 13.2205 17.6416 13.2205 17.6416C13.2205 17.6416 21.504 17.6504 23.5745 17.1342C24.1331 16.9898 24.6425 16.7091 25.0523 16.3198C25.462 15.9305 25.758 15.4461 25.9108 14.9145C26.4582 12.9441 26.4622 8.85604 26.4622 8.85604C26.4622 8.85604 26.4886 4.7453 25.924 2.77366ZM10.5907 12.5966L10.5973 5.04243L17.4819 8.82583L10.5907 12.5966Z" fill="white"/>
            </svg>
          a(href="", rel="nofollow", target="_blank") 
            <svg width="27" height="17" viewBox="0 0 27 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M26.3176 1.09513C26.5024 0.463323 26.3176 0 25.4433 0H22.5473C21.8104 0 21.4737 0.400822 21.2888 0.841046C21.2888 0.841046 19.8163 4.5354 17.7298 6.93081C17.0563 7.62784 16.7486 7.84795 16.3815 7.84795C16.1979 7.84795 15.9312 7.62784 15.9312 6.99603V1.09513C15.9312 0.336962 15.7186 0 15.1045 0H10.5538C10.0942 0 9.8169 0.350549 9.8169 0.684793C9.8169 1.4022 10.8602 1.56796 10.9671 3.58973V7.97567C10.9671 8.93628 10.7994 9.11156 10.4297 9.11156C9.44846 9.11156 7.06085 5.40362 5.64387 1.15899C5.36787 0.334245 5.08923 0.00135927 4.3497 0.00135927H1.45499C0.626987 0.00135927 0.461914 0.402181 0.461914 0.842405C0.461914 1.63318 1.44311 5.54628 5.03244 10.7216C7.42533 14.2557 10.7941 16.1714 13.8632 16.1714C15.7027 16.1714 15.9299 15.7462 15.9299 15.0125V12.3412C15.9299 11.4907 16.1055 11.3195 16.6879 11.3195C17.1157 11.3195 17.8526 11.5423 19.5707 13.2448C21.5331 15.2638 21.858 16.1701 22.9606 16.1701H25.8553C26.682 16.1701 27.0954 15.7448 26.8577 14.9051C26.5975 14.0695 25.6599 12.8535 24.4159 11.4146C23.7398 10.5939 22.7295 9.71075 22.4218 9.26917C21.9927 8.69986 22.1168 8.4485 22.4218 7.94306C22.4232 7.94442 25.9504 2.83292 26.3176 1.09513Z" fill="white"/>
            </svg>
          a(href="", rel="nofollow", target="_blank") 
            <svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M23.3039 0.131505L2.04448 8.27737C0.593614 8.85641 0.602008 9.66062 1.77829 10.0192L7.23642 11.7111L19.865 3.79398C20.4621 3.43298 21.0077 3.62718 20.5592 4.02274L10.3276 13.198H10.3252L10.3276 13.1992L9.9511 18.7894C10.5027 18.7894 10.7461 18.538 11.0554 18.2414L13.7066 15.6798L19.2211 19.7271C20.2379 20.2835 20.9681 19.9975 21.2211 18.7918L24.8411 1.84003C25.2116 0.363835 24.2739 -0.304562 23.3039 0.131505Z" fill="white"/>
            </svg>
        li.footer__left-item
          a(href="#") Политика конфиденциальности
        li.footer__left-item
          a(href="#") Договор оферты
        li.footer__left-item
          a(href="#") Карта сайта
  .footer__bottom
    .container
      p.footer__copyright © 2012-2021 ООО «Тверь полимер сервис»
      a.footer__develop(href="#") Разработано WPS-studio
