header.header
  .header__top
    .container
      p.header__name Дорожно Строительная Компания -7
      .header__contacts
        a.header__first-contact(href="tel:+7  927 510 90 09") +7  927 510 90 09
        a.header__second-contact(href="tel:+7 937 080-90-09") +7 937 080-90-09
        a.header__mail(href="mailto:ooo-dsk7@mail.ru") ooo-dsk7@mail.ru
  .header__main
    .container
      .header__main-left
        a.header__logo(href="#")
          img(src="@img/logo.png", width="94", height="94", alt="Логотип компании")
        ul.nav
          li.nav__item
            a(href="#") Главная
          li.nav__item
            a(href="#") О компании
          li.nav__item.dropdown
            a(href="#") Продукция
            ul.dropdown-menu
              li
                a(href="#") Ссылка 1
              li
                a(href="#") Ссылка 2
          li.nav__item
            a(href="#") Отзывы
          li.nav__item
            a(href="#") Контакты
      .header__main-right
        p.header__location-city г. Волгоград
        button.btn.btn--accent.header__btn(type="button") Отправить заявку
        //- .header__burger.menu-wrapper
        //-   .hamburger-menu