header.header
  .header__top
    .container
      ul.header__menu
        li.header__menu-item
          a(href="#") О компании
        li.header__menu-item
          a(href="#") Статьи
        li.header__menu-item
          a(href="#") Контакты
      .header__location
        p.header__location-city г.Тверь
        p.header__working Пн-пт с 9:00 до 18:00  Сб-вс выходной
  .header__main
    .container
      .header__main-left
        img.header__logo(src="@img/logo.png", alt="Логотип компании")
        form.search-form
          input(type="text" placeholder="Введите название товара")
          button(type="submit")
      .header__main-right
        a.header__mail(href="mailto:info@magnumts.ru") info@magnumts.ru
        .header__contacts
          a.header__first-contact(href="tel:+7 999 123 45 67") +7 999 123 45 67
          a.header__second-contact(href="tel:8 800 350 59 79") 8 800 350 59 79
        button.btn.btn--accent.header__btn(type="button") Задать вопрос
        .header__burger.menu-wrapper
          .hamburger-menu
  .header__bottom
    .container
      ul.nav
        li.nav__item.dropdown
          a(href="#") Полимеры
          ul.dropdown-menu
            li
              a(href="#") Ссылка 1
            li
              a(href="#") Ссылка 2
        li.nav__item.dropdown
          a(href="#") Заготовки
          ul.dropdown-menu
            li
              a(href="#") Ссылка 1
            li
              a(href="#") Ссылка 2
        li.nav__item.dropdown
          a(href="#") Бренды
          ul.dropdown-menu
            li
              a(href="#") Ссылка 1
            li
              a(href="#") Ссылка 2
        li.nav__item.dropdown
          a(href="#") Изделия
          ul.dropdown-menu
            li
              a(href="#") Ссылка 1
            li
              a(href="#") Ссылка 2
        li.nav__item
          a(href="#") Оборудование
        li.nav__item.dropdown
          a(href="#") Сферы применения
          ul.dropdown-menu
            li
              a(href="#") Ссылка 1
            li
              a(href="#") Ссылка 2
        li.nav__item.dropdown
          a(href="#") Сервис
          ul.dropdown-menu
            li
              a(href="#") Ссылка 1
            li
              a(href="#") Очень очень очень длинная ссылка