header.header
  .header__top
    .container
      p.header__name Дорожно Строительная Компания -7
      .header__contacts
        a.header__contact(href="tel:+7  927 510 90 09")
          <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.65914 20.5338L4.14174 20.6646C4.18367 20.5099 4.14886 20.3444 4.04814 20.2197L3.65914 20.5338ZM2.20907 25.8846L1.72648 25.7538C1.68005 25.9251 1.72794 26.1082 1.85232 26.2349C1.9767 26.3616 2.15891 26.4128 2.33107 26.3695L2.20907 25.8846ZM8.77109 24.2336L8.94732 23.7657C8.85197 23.7298 8.74791 23.7239 8.6491 23.7487L8.77109 24.2336ZM1.5 13C1.5 6.64873 6.64873 1.5 13 1.5V0.5C6.09644 0.5 0.5 6.09644 0.5 13H1.5ZM4.04814 20.2197C2.45414 18.2458 1.5 15.735 1.5 13H0.5C0.5 15.9718 1.53772 18.7027 3.27015 20.8479L4.04814 20.2197ZM2.69166 26.0154L4.14174 20.6646L3.17655 20.403L1.72648 25.7538L2.69166 26.0154ZM8.6491 23.7487L2.08708 25.3997L2.33107 26.3695L8.89309 24.7185L8.6491 23.7487ZM13 24.5C11.5726 24.5 10.2071 24.2402 8.94732 23.7657L8.59486 24.7015C9.96557 25.2178 11.4504 25.5 13 25.5V24.5ZM24.5 13C24.5 19.3513 19.3513 24.5 13 24.5V25.5C19.9036 25.5 25.5 19.9036 25.5 13H24.5ZM13 1.5C19.3513 1.5 24.5 6.64873 24.5 13H25.5C25.5 6.09644 19.9036 0.5 13 0.5V1.5Z" fill="#2B2A26"/>
            <circle cx="6.25" cy="13.25" r="2.25" fill="#2B2A26"/>
            <circle cx="13.25" cy="13.25" r="2.25" fill="#2B2A26"/>
            <circle cx="20.25" cy="13.25" r="2.25" fill="#2B2A26"/>
          </svg>
          | +7  927 510 90 09
        a.header__contact(href="tel:+7 937 080-90-09")
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle class="header__contact-cicle" cx="12" cy="12" r="11.5" stroke="#2B2A26"/>
            <path d="M17.9417 16.3643L17.8768 16.1668C17.7245 15.7126 17.2224 15.2386 16.7597 15.1116L15.0517 14.6446C14.589 14.5191 13.9289 14.6884 13.5891 15.0284L12.9713 15.6463C10.7258 15.0382 8.96412 13.2762 8.35759 11.0303L8.9754 10.4124C9.31391 10.0738 9.48317 9.41362 9.35765 8.9495L8.89212 7.24109C8.7666 6.77837 8.28984 6.27615 7.83569 6.12379L7.64102 6.05887C7.18543 5.90651 6.53521 6.06027 6.1967 6.40029L5.27142 7.32573C5.10641 7.48938 5.00061 7.96059 5.00061 7.96059C4.96956 10.8978 6.12055 13.7263 8.19677 15.8043C10.2673 17.8752 13.0855 19.025 16.0122 18.9996C16.0277 18.9996 16.5115 18.8966 16.6765 18.7315L17.6018 17.8061C17.9403 17.4689 18.0926 16.8186 17.9417 16.3643Z" fill="#2B2A26"/>
          </svg>
          | +7 937 080-90-09
        a.header__contact(href="mailto:ooo-dsk7@mail.ru")
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle class="header__contact-cicle" cx="12" cy="12" r="11.5" stroke="#2B2A26"/>
            <path d="M6.08424 7C5.87109 7 5.67547 7.06345 5.5082 7.16786L11.9229 12.5452C12.2166 12.7916 12.6124 12.7916 12.9054 12.5452L19.3088 7.16786C19.1416 7.06345 18.946 7 18.7328 7H6.08407H6.08424ZM5.06214 7.72178C5.02345 7.83231 5 7.95021 5 8.07423V15.2364C5 15.4521 5.06542 15.6503 5.17508 15.8183L9.76605 11.6722L5.06214 7.72178ZM19.755 7.72178L15.0624 11.6667L19.6421 15.8185C19.7517 15.6505 19.8171 15.4523 19.8171 15.2366V8.07448C19.8171 7.95046 19.7937 7.83255 19.755 7.72203V7.72178ZM14.5093 12.1364L13.3686 13.0933C12.8169 13.557 12.0061 13.5564 11.4544 13.0933L10.3194 12.142L5.76227 16.2603C5.86424 16.2915 5.97151 16.3106 6.08419 16.3106H18.7329C18.8455 16.3106 18.9529 16.2915 19.0548 16.2603L14.5094 12.1363L14.5093 12.1364Z" fill="#2B2A26"/>
          </svg>
          | ooo-dsk7@mail.ru
  .header__main
    .container
      .header__main-left
        a.header__logo(href="index.html")
          img(src="@img/logo.png", width="94", height="94", alt="Логотип компании")
        ul.nav
          li.nav__item
            a(href="index.html") Главная
          li.nav__item
            a(href="about.html") О компании
          li.nav__item.dropdown
            a(href="javascript:void(0)") Продукция
            ul.dropdown-menu
              li
                a(href="cement.html") Раствор цементный
              li
                a(href="beton.html") Бетон
              li
                a(href="asphalt.html") Асфальтнобетонная смесь
          li.nav__item
            a(href="reviews.html") Отзывы
          li.nav__item
            a(href="contacts.html") Контакты
      .header__main-right
        p.header__location-city г. Волгоград
        button.btn.btn--accent.header__btn(type="button") Отправить заявку
        //- .header__burger.menu-wrapper
        //-   .hamburger-menu