doctype html
html(lang="ru")
  include html/head
  body
    include html/header
    main
      section.page-top
        .container
          ol.breadcrumbs
            li.breadcrumbs__link
              a(href="index.html") Главная
            li.breadcrumbs__link
              a(href="javascript:void(0)") Продукция
            li.breadcrumbs__link
              span Бетон
          ul.beton__list
            li.beton__item
              a(href="cement.html") Раствор цементный
            li.beton__item.beton__item--active
              a(href="beton.html") Бетон
            li.beton__item
              a(href="asphalt.html") Асфальтобетонная смесь
      section.main
        .container
          h1.section-title Бетон
          .table__container
            h3.table__title Бетон строительный
            table.table
              thead
                tr
                  th Марка (класс)
                    <br/>
                    | бетона ГОСТ
                  th Норма
                    <br/>
                    | подвижности
                  th Марка по 
                    <br/>
                    | водонепроницаемости W
                  th Цена
                    <br/>
                    | с НДС за 1 м³
              tbody
                tr
                  td(data-header="Марка (класс) бетона ГОСТ") Бетон М-100 (В 7.5)
                  td(data-header="Норма подвижности") Пк3
                  td(data-header="Марка по водонепроницаемости W") —
                  td(data-header="Цена с НДС за 1 м³") 4 250
                tr
                  td(data-header="Марка (класс) бетона ГОСТ") Бетон М-150 (В 12.5)
                  td(data-header="Норма подвижности") Пк4
                  td(data-header="Марка по водонепроницаемости W") W4  F100
                  td(data-header="Цена с НДС за 1 м³") 4 400
                tr
                  td(data-header="Марка (класс) бетона ГОСТ") Бетон М-200 (В 15)
                  td(data-header="Норма подвижности") Пк4
                  td(data-header="Марка по водонепроницаемости W") W4  F100 / W6 F150
                  td(data-header="Цена с НДС за 1 м³") 4 600
                tr
                  td(data-header="Марка (класс) бетона ГОСТ") Бетон М-250 (В 20)
                  td(data-header="Норма подвижности") Пк4
                  td(data-header="Марка по водонепроницаемости W") W4  F100 / W6 F150
                  td(data-header="Цена с НДС за 1 м³") 4 850
                tr
                  td(data-header="Марка (класс) бетона ГОСТ") Бетон М-300 (В 22.5)
                  td(data-header="Норма подвижности") Пк4
                  td(data-header="Марка по водонепроницаемости W") W4  F100
                  td(data-header="Цена с НДС за 1 м³") 5 050
                tr
                  td(data-header="Марка (класс) бетона ГОСТ") Бетон М-350 (В 30)
                  td(data-header="Норма подвижности") Пк4
                  td(data-header="Марка по водонепроницаемости W") W6  F150 / W4 F75
                  td(data-header="Цена с НДС за 1 м³") 5 200
                tr
                  td(data-header="Марка (класс) бетона ГОСТ") Бетон М-450 (В 35)
                  td(data-header="Норма подвижности") Пк4
                  td(data-header="Марка по водонепроницаемости W") W6  F150 / W8 F100
                  td(data-header="Цена с НДС за 1 м³") 5 400
                tr
                  td(data-header="Марка (класс) бетона ГОСТ") Бетон М-450 (В 35)
                  td(data-header="Норма подвижности") Пк4
                  td(data-header="Марка по водонепроницаемости W") W6  F150
                  td(data-header="Цена с НДС за 1 м³") 5 700
          ul.beton-main__descriptions
            li.beton-main__description
              h3.beton-main__des-title Доставка:
              p.beton-main__des-text до Красноармейского, Кировского, Советского района 
              p.beton-main__des-price 3 500 - 4 000 руб
            li.beton-main__description
              h3.beton-main__des-title Простой: 
              p.beton-main__des-text  Свыше 30 минут
              p.beton-main__des-price  1 500 руб. 
                span за каждый час
      section.form
        .container
          .form__content
            h2.section-title.section-title--accent Форма обратной связи
            .form__remarks
              p * Обязательные поля для заполнения
              p ** Обязательные поля на выбор
            form.form__callback(id="feedback" action="#")
              .form__input-container
                input.form__input(type="text", id="feedbackName", name="feedbackName", placeholder="Имя*")
                input.form__input(type="tel", id="feedbackPhone", name="feedbackPhone", placeholder="Телефон**")
                input.form__input(type="email", id="feedbackEmail", name="feedbackEmail", placeholder="E-mail**")
                input.form__input(type="text", id="feedbackComment", name="feedbackComment", placeholder="Комментарий")
              p.form__callback-text Нажимая на кнопку, Вы соглашаетесь с Политикой конфиденциальности
              button.btn.btn--main(type="submit") Отправить заявку
      section.main.block-with-decor
        .container
          .image-block--right
            img(src="./img/text-img-3.jpg", width="553", height="396", alt="")
          h2.section-title.section-title--minmargin Текстовый блок
          p.text__strong Цемент — искусственное неорганическое гидравлическое вяжущее вещество. Один из основных строительных материалов.
          p.text__usual При взаимодействии с водой, водными растворами солей и другими жидкостями образует пластичную массу, которая затем затвердевает и превращается в камневидное тело. В основном используется для изготовления бетона и строительных растворов. 
          p.text__usual Цемент является гидравлическим вяжущим и обладает способностью набирать прочность во влажных условиях, чем принципиально отличается от некоторых других минеральных вяжущих — (воздушной извести), которые твердеют только на воздухе.
          .clearfix
      include html/feedback-modal
    include html/footer
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="js/app.min.js")