doctype html
html(lang="ru")
  include html/head
  body
    include html/header
    main
      section.promo
        .container.swiper.js-promo-slider
          .swiper-wrapper
            .swiper-slide.promo__slide
              .promo__text
                h1.main-title Тверь полимер сервис
                p Тверь Полимер Сервис работает на рынке полимеров уже более 10 лет и является одним и крупнейших Российских производителей листовых полимеров
                a.btn(href="#") Подробнее о компании
              img.promo__img(src="@img/promo-img.png", alt="")
            .swiper-slide.promo__slide
              .promo__text
                h2.main-title Тверь полимер сервис
                p Тверь Полимер Сервис работает на рынке полимеров уже более 10 лет и является одним и крупнейших Российских производителей листовых полимеров
                a.btn(href="#") Подробнее о компании
              img.promo__img(src="@img/promo-img.png", alt="")
            .swiper-slide.promo__slide
              .promo__text
                h2.main-title Тверь полимер сервис
                p Тверь Полимер Сервис работает на рынке полимеров уже более 10 лет и является одним и крупнейших Российских производителей листовых полимеров
                a.btn(href="#") Подробнее о компании
              img.promo__img(src="@img/promo-img.png", alt="")
          .js-promo-pagination.promo__pagination
      section.advantages
        .container
          h2.section-title Преимущества
          ul.advantages__list
            li.advantages__list-item
              .advantages__img
                img(src="@img/icons/icons.svg#i-ad-1", alt="", height="36")
              h3.advantages__list-item-title 
                | Продукция от 
                <br/> производителя
              p.advantages__list-item-text В строительстве наиболее широко используют бетоны, в строительстве широко..
            li.advantages__list-item
              .advantages__img
                img(src="@img/icons/icons.svg#i-ad-2", alt="", height="36")
              h3.advantages__list-item-title
                | Высокое 
                <br/> качество
              p.advantages__list-item-text В строительстве наиболее широко используют бетоны, в строительстве широко..
            li.advantages__list-item
              .advantages__img
                img(src="@img/icons/icons.svg#i-ad-3", alt="", height="36")
              h3.advantages__list-item-title
                | Гарантия качества 
                <br/> и оказанных услуг
              p.advantages__list-item-text В строительстве наиболее широко используют бетоны, в строитель
      section.products
        .container
          h2.section-title.section-title--accent Продукция
          ul.products__list
            li.products__list-item
              a(href="#")
                img.products__list-item-img(src="@img/products-1.png", alt="", width="338", height="225")
                h3.products__list-item-title Раствор цементный
                p.products__list-item-text Подробнее
            li.products__list-item
              a(href="#")
                img.products__list-item-img(src="@img/products-2.png", alt="", width="338", height="225")
                h3.products__list-item-title Бетон
                p.products__list-item-text Подробнее
            li.products__list-item
              a(href="#")
                img.products__list-item-img(src="@img/products-3.png", alt="", width="338", height="225")
                h3.products__list-item-title Асфальтобетонная смесь
                p.products__list-item-text Подробнее
      section.text-block
        .container
          h2.section-title Текстовый блок и видео
          .text-block__content
            .text-block__video-container
              <iframe class="text-block__video" width="443" height="249" src="https://www.youtube.com/embed/W1Hy03GUudY" title="TIME LAPSE: УКЛАДКА АСФАЛЬТА ЗА 6 МИНУТ. ТЕХНОЛОГИЯ УКЛАДКИ АСФАЛЬТА в КАНАДЕ." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            .text-block__text-container
              p.text-block__text 
                strong Бетон 
                | — искусственный каменный строительный материал, получаемый в результате формования и затвердевания рационально подобранной, тщательно перемешанной и уплотнённой смеси из минерального (например, цемент) или органического вяжущего вещества, крупного или мелкого заполнителей, воды. 
              p.text-block__text В ряде случаев может иметь в составе специальные добавки, а также не содержать воды (например, асфальтобетон).
              p.text-block__text В строительстве наиболее широко используют бетоны, изготовленные на цементах или других неорганических вяжущих.
    include html/footer
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="js/app.min.js")