doctype html
html(lang="ru")
  include html/head
  body
    include html/header
    main
      section.page-top.page-top--min
        .container
          ol.breadcrumbs
            li.breadcrumbs__link
              a(href="index.html") Главная
            li.breadcrumbs__link
              span Услуги
          h1.main-title Наши услуги
      section.block-text-main
        .container
          .block-text-main__text
            h2.section-title.section-title--minmargin Текстовый блок
            p.block-text-main__strong Цемент — искусственное неорганическое гидравлическое вяжущее вещество. Один из основных строительных материалов.
            p.block-text-main__usual При взаимодействии с водой, водными растворами солей и другими жидкостями образует пластичную массу которая затем затвердевает и превращается в камневидное тело. В основном используется для изготовления бетона и строительных растворов. 
            p.block-text-main__usual Цемент является гидравлическим вяжущим и обладает способностью набирать прочность во влажных условиях, чем принципиально отличается от некоторых других минеральных вяжущих — (воздушной извести), которые твердеют только на воздухе.
            p.block-text-main__usual Марка цемента — условная величина, которая обозначает, что прочность при сжатии будет не ниже обозначенной марки (200, 300, 400, 500, 600)
          .block-text-main__img
            img(src="./img/text-img-2.jpg", width="553", height="396", alt="")
      section.form
        .container
          h2.section-title.section-title--accent Форма обратной связи
          .form__remarks
            p * Обязательные поля для заполнения
            p ** Обязательные поля на выбор
          form.form__callback
            .form__input-container
              input.form__input(type="text", name="", placeholder="Имя*")
              input.form__input(type="tel", name="", placeholder="Телефон**")
              input.form__input(type="email", name="", placeholder="E-mail**")
              input.form__input(type="text", name="", placeholder="Комментарий")
            p.form__callback-text Нажимая на кнопку, Вы соглашаетесь с Политикой конфиденциальности
            button.btn.btn--main(type="submit") Отправить заявку
      section.block-with-text
        .container
          .block-with-text__text
            h2.section-title.section-title--minmargin Текстовый блок
            p.block-with-text__strong Цемент — искусственное неорганическое гидравлическое вяжущее вещество. Один из основных строительных материалов.
            p.block-with-text__usual При взаимодействии с водой, водными растворами солей и другими жидкостями образует пластичную массу, которая затем затвердевает и превращается в камневидное тело. В основном используется для изготовления бетона и строительных растворов. 
            p.block-with-text__usual Цемент является гидравлическим вяжущим и обладает способностью набирать прочность во влажных условиях, чем принципиально отличается от некоторых других минеральных вяжущих — (воздушной извести), которые твердеют только на воздухе.
          .block-with-text__img
            img(src="./img/text-img-2.jpg", width="553", height="396", alt="")
    include html/footer
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="js/app.min.js")