.footer {
  background: #2B2A26;
  padding: 57px 0 30px;
  color: #fff;

  .container {
    display: grid;
    grid-template-columns: 70px 1fr 1fr 180px;
    gap: 30px;
  }

  a {
    transition: all 0.3s ease;

    &:hover {
      color: #FBC30A;

      svg path,
      svg circle {
        transition: all 0.3s ease;
        fill: #FBC30A;
      }

      .footer__contact-cicle {
        fill: none;
        stroke: #FBC30A;
      }
    }
  }

  &__official {
    p {
      font-family: $ff-main;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.4;
      color: $color-light;
      margin: 0 0 9px 0;
    }
  }

  &__official-list {
    display: flex;
    gap: 28px;
    list-style: none;
    font-family: $ff-main;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #9B9B9B;
    margin: 20px 0 0;
    padding: 0;
  }

  &__official-item {
    &--underline {
      text-decoration: underline;
    }
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }

  &__menu-left {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__menu-item {
    font-family: $ff-main-medium;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $color-light;
    margin-bottom: 10px;
  }

  &__submenu {
    list-style: none;
    margin: 0;
    padding: 0;   
  }

  &__submenu-item {
    margin: 10px 0 0;
    font-family: $ff-main;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $color-light;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 19px;
  }

  &__contact {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}