.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;

  &__name {
    padding-left: 144px;
    margin: 0;

    @media (max-width: 1200px) {
      padding-left: 124px;
    }

    @media (max-width: 992px) {
      padding-left: 0;
    }
  }

  &__top {
    color: #2B2A26;
    background: $color-light;

    .container {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 992px) {
        justify-content: flex-start;
        gap: 20px;
      }
    }

    a {
      transition: all 0.3s ease;
  
      &:hover {
        color: #FBC30A;

        svg path,
        svg circle {
          transition: all 0.3s ease;
          fill: #FBC30A;
        }

        .header__contact-cicle {
          fill: none;
          stroke: #FBC30A;
        }
      }
    }
  }

  &__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 35px;
  }

  &__menu-item {
    padding: 0;
    margin: 0;
  }

  &__location-city {
    margin: 0;
    padding-left: 20px;
    background: url(../img/icons/icons.svg#i-location) no-repeat -12px center;
    background-size: 40px 40px;

    @media (max-width: 1100px) {
      display: none;
    }
  }

  &__working {
    position: relative;
    color: $color-light-shadow;
    margin: 0;

    &::before {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #2FDB4A;
      top: 6px;
      left: -14px;
    }
  }

  &__main {
    color: #2B2A26;
    background: $color-light;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

    @media (max-width: 992px) {
      display: none;
      max-width: 500px;
      margin-left: auto;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 992px) {
        padding-bottom: 20px;
      }
    }

    a {
      transition: all 0.3s ease;
  
      &:hover {
        color: #FBC30A;
      }
    }
  }

  &__burger {
    display: none;

    @media (max-width: 992px) {
      display: block;
      margin-left: auto;
    }
  }

  &__btn {
    @media (max-width: 992px) {
      display: none;
      justify-content: center;
    }
  }

  &__logo {
    display: inline-block;
    position: absolute;
    top: 8px;

    @media (max-width: 1050px) {
      top: 15px;
    }

    @media (max-width: 992px) {
      top: 0;
      position: relative;
      padding: 5px 0;

      img {
        width: 60px;
        height: 60px;
      }
    }
  }

  &__main-left {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &__main-right {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__bottom {
    background: $color-dark;
    color: $color-light;

    @media (max-width: 840px) {
      display: none;
    }
  }

  &__contacts {
    display: flex;
    gap: 25px;
    height: 24px;
    margin: 14px 0;

    @media (max-width: 1050px) {
      flex-direction: column;
      gap: 10px;
      height: max-content;
    }

    @media (max-width: 992px) {
      display: none;
    }
  }

  &__contact {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}

.nav {
  margin: 0;
  padding: 0 0 0 144px;
  list-style: none;
  display: flex;
  gap: 10%;

  @media (max-width: 1200px) {
    gap: 20px;
    padding: 0 0 0 124px;
  }

  @media (max-width: 992px) {
    flex-direction: column;
    gap: 0;
    padding: 0;
  }

  &__item {
    a {
      display: inline-block;
      width: max-content;
      padding: 21px 0;

      @media (max-width: 992px) {
        display: flex;
        padding: 10px 0;
        width: 100%;
      }
    }

    &--mobile {
      display: none;

      @media (max-width: 992px) {
        display: block;
      }
    }
  }
}

.dropdown {
  position: relative;
  padding-right: 22px;

  & > a::after {
    position: absolute;
    content: '';
    width: 22px;
    height: 22px;
    background-image:url('data:image/svg+xml,\00003csvg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">\00003cpath fill="black" d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z">\00003c/path>\00003c/svg>');
    background-size: 22px 22px;
    top: 20px;
    right: 0;
    transition: all ease-in-out .4s;

    @media (max-width: 992px) {
      display: none;
    }
  }

  &:hover > a::after {
    transform: rotate(-180deg);
  }

  &-menu {
    display: none;
    position: absolute;
    top: 88%;
    left: 50%;
    max-width: 180px;
    width: max-content;
    list-style: none;
    font-size: 16px;
    transform: translateX(-50%);
    z-index: 2;
    background: #FFFFFF;
    box-shadow: 96px 122px 62px rgba(112, 112, 112, 0.01), 54px 68px 52px rgba(112, 112, 112, 0.05), 24px 30px 39px rgba(112, 112, 112, 0.09), 6px 8px 21px rgba(112, 112, 112, 0.1), 0px 0px 0px rgba(112, 112, 112, 0.1);
    border-radius: 10px;
    border-left: 5px solid #FBC30A;
    padding: 15px 0;

    @media (max-width: 992px) {
      display: block;
      position: relative;
      border: none;
      box-shadow: none;
      max-width: 100%;
      width: 100%;
      padding: 0;
    }

    a {
      font-family: $ff-main;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      color: $color-dark;
      padding: 8px 23px;
      width: 100%;

      &:hover {
        color: #FBC30A;
      }
    }
  }

  &:hover > .dropdown-menu {
    display: block;
  }
}