.promo {
  background: #F5F5F5;

  &__slide {
    .container {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      position: relative;

      @media (max-width: 992px) {
        padding-top: 70px;
        padding-bottom: 50px;
      }

      @media (max-width: 600px) {
        flex-direction: column;
      }
    
      &::before {
        position: absolute;
        content: "";
        width: 323px;
        height: 323px;
        background-image: url(../img/bg-circle-left.svg);
        background-repeat: no-repeat;
        top: -160px;
        left: -360px;
        z-index: -1;

        @media (max-width: 1300px) {
          top: -25%;
          left: -25%;
        }
        @media (max-width: 600px) {
          top: -55%;
        }
      }
    }
  }

  &__text-container {
    width: calc(45% - 15px);
    padding: 110px 0 70px 0;

    @media (max-width: 1250px) {
      width: calc(55% - 15px);
    }
    @media (max-width: 1150px) {
      padding: 70px 0 50px 0;
    }
    @media (max-width: 992px) {
      padding: 0;
    }
    @media (max-width: 600px) {
      width: 100%;
    }
  }

  &__text {   
    font-family: $ff-accent;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: #2B2A26;
    margin: 0 0 40px;
  }

  &__img-container {
    position: relative;
    width: calc(55% - 15px);

    @media (max-width: 1250px) {
      width: calc(45% - 15px);
    }
    @media (max-width: 600px) {
      width: 100%;
      margin-top: -30%;
      margin-left: 50%;
      margin-bottom: -75%;
    }
  }

  &__img {
    position: absolute;
    top: -20%;
    right: -60%;
    border: 0.5px solid #2B2A26;
    border-radius: 50%;
    padding: 10px;
    aspect-ratio: 1 / 1;
    width: max-content;
    height: max-content;

    @media (max-width: 1250px) {
      right: -80%;
    }
    @media (max-width: 1200px) {
      right: -100%;
    }
    @media (max-width: 1100px) {
      top: -40%;
      right: -110%;
    }
    @media (max-width: 1150px) {
      right: -120%;
    }
    @media (max-width: 1050px) {
      right: -130%;
    }
    @media (max-width: 992px) {
      position: relative;
      top: 0;
      right: 0;
      width: 100%;
      height: max-content;
    }

    img {
      max-width: 924px;
      max-height: 924px;
      width: 100%;
      height: 100%;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      object-fit: cover;

      @media (max-width: 992px) {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  &__btn {
    margin-bottom: 100px;

    @media (max-width: 992px) {
      margin-bottom: 40px;
    }
  }

  &__contacts {
    position: relative;
    display: flex;
    gap: 11px;
    padding: 0 0 0 39px;

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 24px;
      height: 2px;
      background-color: #2B2A26;
    }

    &::before {
      left: 0;
      top: 12px;
    }
    &::after {
      left: 148px;
      top: 12px;
    }
  }

  &__contact {
    transition: all 0.3s ease;

    &:hover {
      color: #FBC30A;

      svg path,
      svg circle {
        transition: all 0.3s ease;
        fill: #FBC30A;
      }

      .header__contact-cicle {
        fill: none;
        stroke: #FBC30A;
      }
    }
  }

  .swiper-button-next {
    width: 38px;
    height: 38px;
    content: "";
    top: calc(100% - 90px);
    left: 50%;
    border-radius: 50%;
    border: 1px solid rgb(251, 195, 10);
    background: rgb(251, 195, 10);
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    @media (max-width: 1150px) {
      top: calc(100% - 50px);
    }
    @media (max-width: 600px) {
      top: calc(100% - 25px);
    }

    &:hover {
      border-color: #2B2A26;
      background: #2B2A26;

      &::after {
        background-image: url(../img/icons/icons.svg#i-arrow-hover);
      }
    }

    &::after {
      position: absolute;
      content: "";
      width: 34px;
      height: 38px;
      background-image: url(../img/icons/icons.svg#i-arrow);
      background-size: 34px auto;
      background-position: left center;
      background-repeat: no-repeat;
      top: 0;
      left: -12px;
    }
  }

  .swiper-button-prev {
    width: 38px;
    height: 38px;
    content: "";
    top: calc(100% - 90px);
    left: calc(50% - 75px);
    border-radius: 50%;
    border: 1px solid rgb(251, 195, 10);
    background: rgb(251, 195, 10);
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    @media (max-width: 1150px) {
      top: calc(100% - 50px);
    }
    @media (max-width: 600px) {
      top: calc(100% - 25px);
    }

    &:hover {
      border-color: #2B2A26;
      background: #2B2A26;

      &::after {
        background-image: url(../img/icons/icons.svg#i-arrow-hover);
      }
    }

    &::after {
      position: absolute;
      content: "";
      width: 34px;
      height: 38px;
      background-image: url(../img/icons/icons.svg#i-arrow);
      background-size: 34px auto;
      background-position: left center;
      background-repeat: no-repeat;
      transform: rotate(180deg);
      top: 0;
      right: -12px;
    }
  }

  .swiper-button-next.swiper-button-disabled, 
  .swiper-button-prev.swiper-button-disabled {
    opacity: 1;
    cursor: auto;
    pointer-events: none;
    background: transparent;
    border-color: rgb(251, 195, 10);

    &::after {
      background-image: url(../img/icons/icons.svg#i-arrow-hover);
    }
}
}

.advantages {
  padding: 100px 0;

  @media (max-width: 768px) {
    padding: 50px 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (max-width: 850px) {
      grid-template-columns: 1fr;
    }
  }

  &__list-item {
    position: relative;
    padding: 25px 25px 25px 93px;
    background: #F5F5F5;
    border-radius: 10px;
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: #FBC513;
    border-radius: 5px;
    position: absolute;
    top: 25px;
    left: 25px;
  }

  &__list-item-title {
    margin: 0 0 10px 0;
    font-family: $ff-main-medium;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    color: $color-dark;
  }

  &__list-item-text {
    font-family: $ff-main;
    font-size: 16px;
    line-height: 1.6;
    color: #2B2A26;
    margin: 0;
  }
}

.products {
  background: linear-gradient(180deg, rgba(43,42,38,1) 0%, rgba(43,42,38,1) 75%, rgb(255, 255, 255) 75.1%, rgb(255, 255, 255) 100%);
  padding: 60px 0 90px;
  overflow-x: hidden;

  @media (max-width: 768px) {
    padding: 60px 0;
  }

  &__list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 2;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    &::before {
      position: absolute;
      content: "";
      width: 177px;
      height: 72px;
      background-image: url(../img/icons/icons.svg#bg-products-top);
      right: -40px;
      top: -40px;

      @media (max-width: 500px) {
        right: -100px;
      }
    }
    &::after {
      position: absolute;
      content: "";
      width: 177px;
      height: 72px;
      background-image: url(../img/icons/icons.svg#bg-products-bottom);
      left: -40px;
      bottom: -40px;
      z-index: -1;

      @media (max-width: 500px) {
        left: -100px;
      }
    }
  }

  &__list-item {
    position: relative;
    background: $color-light;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 8px solid $color-light;
    padding: 22px;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s ease-in-out;

    &:hover {
      border: 8px solid #FBC30A;

      &::before {
        background: #2B2A26;
      }

      &::after {
        background-image: url(../img/icons/icons.svg#i-arrow-hover);
      }
    }

    &::before {
      position: absolute;
      width: 51px;
      height: 51px;
      content: '';
      bottom: 22px;
      right: 22px;
      border-radius: 50%;
      background: #FBC30A;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }

    &::after {
      position: absolute;
      width: 68px;
      height: 51px;
      content: '';
      bottom: 22px;
      right: 22px;
      background-image: url(../img/icons/icons.svg#i-arrow);
      background-size: 43px auto;
      background-position: left center;
      background-repeat: no-repeat;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
  }

  &__list-item-img {
    height: 225px;
    width: 100%;
    object-fit: contain;

    @media (max-width: 992px) {
      height: 180px;
    }
  }

  &__list-item-title {
    font-family: $ff-accent-bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: $color-dark;
    margin: 30px 0 13px;
    padding: 0;
    text-align: left;
    padding-right: 70px;
  }

  &__list-item-text {
    font-family: $ff-accent-medium;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #929292;
    text-align: left;
    margin: 0;
    padding: 0 70px 0 0;
  }
}

.text-block {
  padding: 50px 0 100px;
  overflow-x: hidden;

  @media (max-width: 768px) {
    padding: 50px 0;
  }

  .container {
    position: relative;
    
    &::before {
      position: absolute;
      content: "";
      width: 323px;
      height: 323px;
      background-image: url(../img/bg-circle-left.svg);
      background-repeat: no-repeat;
      top: 50px;
      left: -360px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 323px;
      height: 323px;
      background-image: url(../img/bg-rectangle-right.svg);
      background-repeat: no-repeat;
      background-size: contain;
      bottom: -20px;
      right: -340px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 5%;

    @media (max-width: 1200px) {
      gap: 30px;
    }

    @media (max-width: 992px) {
      gap: 10px;
      flex-direction: column;
    }
  }

  &__video-container {
    width: 100%;
    height: max-content;
    border: 0.5px solid #2B2A26;
    border-radius: 10px;
    padding: 10px;
  }

  &__text-container {
    max-width: 473px;

    @media (max-width: 992px) {
      max-width: 100%;
    }
  }

  &__video {
    min-height: 390px;
    width: 100%;
    height: auto;
    border-radius: 10px;

    @media (max-width: 700px) {
      min-height: 300px;
    }
    @media (max-width: 500px) {
      min-height: 250px;
    }
    @media (max-width: 400px) {
      min-height: 180px;
    }
  }

  &__text {
    font-family: $ff-main;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-transform: capitalize;
    color: #2B2A26;
    margin: 25px 0;

    @media (max-width: 768px) {
      margin: 15px 0;
    }
  }
}