$ff-main: 'InterRegular', Arial, sans-serif;
$ff-main-medium: 'InterMedium', Arial, sans-serif;
$ff-main-bold: 'InterBold', Arial, sans-serif;

$ff-accent: 'MontserratRegular', Arial, sans-serif;
$ff-accent-medium: 'MontserratMedium', Arial, sans-serif;
$ff-accent-bold: 'MontserratBold', Arial, sans-serif;
$ff-accent-black: 'MontserratBlack', Arial, sans-serif;




$ff-color-main: #636363;
$color-main: #5A5A5A;
$color: #8E8E8E;
$color-accent: #15969E;
$color-background-main: #E1E1E1;
$color-background: #F5F5F5;

$color-light: #fff;

$color-light-shadow: #FDFDFD;
$color-dark: #000;
