$ff-main: 'RobotoRegular', Arial, sans-serif;
$ff-main-light: 'RobotoLight', Arial, sans-serif;
$ff-main-medium: 'RobotoMedium', Arial, sans-serif;
$ff-main-bold: 'RobotoBold', Arial, sans-serif;

$ff-accent: 'IstokWebRegular', Arial, sans-serif;
$ff-secondary: 'MontserratRegular', Arial, sans-serif;

$ff-color-main: #636363;
$color-main: #5A5A5A;
$color: #8E8E8E;
$color-accent: #15969E;
$color-background-main: #E1E1E1;
$color-background: #F5F5F5;
$color-light: #fff;
$color-light-shadow: #FDFDFD;
$color-dark: #000;
